@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;

  .footerRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    height: 100px;
    margin-bottom: -28px;
  }

  .footerMenu {
    display: flex;
    justify-content: center;
    border-bottom: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    list-style-type: none;
    .menuItemLink {
      color: #f7f7f7;
      text-decoration: none;
      transition: color 0.3s;
      align-items: center;
      flex-direction: column;
      font-size: 1.3rem;
      padding: 10px 20px;
      display: flex;

      &:hover {
        color: #1890ff;
        transform: scale(1.1);
      }
    }

    .socialIcon {
      font-size: 1.5rem;
      margin-right: 10px;
    }

    .footerBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-top: auto;

      .footerText {
        font-size: 1.3rem;
        margin-right: 10px;

        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }
}
