@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  .filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
  .loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
  }
}
